@import "tailwindcss";

.hero_rounded_box{
        &:before,
        &::after {
            position: absolute;
            content: '';
            width: 24px;
            aspect-ratio: 1;
            background-color: red;
            background: radial-gradient(circle 20px at bottom right,
            #0000 98%,
            #ffff) bottom right
        }

        &:before{
            bottom: -20px;
            left: -4px;
        }

        &:after{
            right: -20px;
            top: -4px;
        }

}




 /* OverviewSection.css  */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Add custom animation class */
.fadeInAnimation {
    animation: fadeIn 0.5s ease-in-out;
}











/* Fade-in animation for main image */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Slide-in animation for title */
@keyframes slideInTitle {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply animation classes */
.carousel-image-main {
    animation: fadeIn 0.5s ease-out;
}

.carousel-title {
    animation: slideInTitle 0.4s ease-out;
}

.carousel-image-side {
    transition: all 0.5s ease-in-out;
}
